@font-face {
    font-family: "bahnschrift";
    src: url("../fonts/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF") format("ttf"), url("../fonts/Bahnschrift-Font-Family/BAHNSCHRIFT.woff")
        format("woff");
  }

.beginfoto {
    width: 100%;
    height: 1076px;
}

h1 {
    font-family: "bahnschrift";
}